# Extend the 'relaxed' yamllint conf by adjusting some options.
ignore: |
  .yamllint
  .pre-commit-config.yaml
  docs/.nav.yml
  mkdocs.yml

extends: relaxed

rules:
  document-start:
    present: false
  line-length:
    max: 125
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  quoted-strings:
    quote-type: any
    required: only-when-needed
    extra-allowed:
      - "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"
      - "^[0-9]+\\.[0-9]+\\.[0-9]+$"
      - "^https://"
      - "^http://"
      - "^arxiv"
